body {
	width: 1200px;
	height: 630px;
	padding: 0;
	margin: 0;
}

div {
	background-color: #0a0a0a;
	height: 100%;
}

h1,
p {
	padding: 0;
	margin: 0;
}
* {
	color: white;
	box-sizing: border-box;
}
