/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	width: 400px;
}

/* zorg ervoor dat de scrolbarr altijd zichtbaar is, anders layout verspringinen */
body {
	overflow-y: scroll;
}

pre {
	width: 100%;
	background-color: var(--background-dark);
	margin: 1.5em 0 3em;
	padding: 20px;
	text-overflow: ellipsis;
	overflow-x: auto;
	line-height: 1.45;
	border-radius: 6px;
	color: var(--font-color);
}

/* alle <code> blocks not in a <pre> */
:not(pre) > code {
	color: blue;
}

pre,
code {
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	font-size: 14px;
	background-color: var(--code);
}

html {
	background-color: var(--background);
	color: var(--font-color);
}
body {
	height: 100vh;
	overflow-y: scroll;

	// display: flex;
	// flex-direction: column;
	// align-items: flex-start;
	// justify-content: flex-end;
}
* {
	/* font-family: 'Source Sans Pro', sans-serif; */
	// color: var(--font-color);
}

// Main font text on website
p {
	color: var(--font-color);
}

h1 {
	// color: var(--font-color) !important;
	font-size: 2em;
}

footer {
	margin-top: auto;
}

/* poppins-regular - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/webfonts/poppins-v20-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/webfonts/poppins-v20-latin-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/webfonts/poppins-v20-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/webfonts/poppins-v20-latin-700.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	src: local(''), url('/webfonts/poppins-v20-latin-800.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/webfonts/poppins-v20-latin-800.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
