/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	width: 400px;
}

/* zorg ervoor dat de scrolbarr altijd zichtbaar is, anders layout verspringinen */
body {
	overflow-y: scroll;
}

pre {
	width: 100%;
	background-color: var(--background-dark);
	margin: 1.5em 0 3em;
	padding: 20px;
	text-overflow: ellipsis;
	overflow-x: auto;
	line-height: 1.45;
	border-radius: 6px;
	color: #fff;
}

/* alle <code> blocks not in a <pre> */
:not(pre) > code {
	color: blue;
}

pre,
code {
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	font-size: 14px;
}

html {
	background-color: var(--background);
	color: var(--font-color);
}

* {
	/* font-family: 'Source Sans Pro', sans-serif; */
	color: #fff;
}

// Main font text on website
p {
	color: var(--font-color)  !important;

}
