@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	width: 400px;
}

body {
	overflow-y: scroll;
}
pre {
	width: 100%;
	background-color: #eeeef0;
	margin: 1.5em 0 3em;
	padding: 20px;
	text-overflow: ellipsis;
	overflow-y: scroll;
}
