@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	width: 400px;
}

/* zorg ervoor dat de scrolbarr altijd zichtbaar is, anders layout verspringinen */
body {
	overflow-y: scroll;
}

pre {
	width: 100%;
	background-color: #212337;
	margin: 1.5em 0 3em;
	padding: 20px;
	text-overflow: ellipsis;
	overflow-x: auto;
}

/* alle <code> blocks not in a <pre> */
:not(pre) > code {
	color: blue;
}

pre,
code {
	font-family: 'JetBrains Mono', monospace !important;
	color: #edf5e1;
}

html {
	background-color: #edf5e1;
}
