/* Variables and mixins declared here will be available in all other SCSS files */
$primary-dark: #81899b;
$background-dark: #161b22;
$text-dark: #dfa612;

:root {
	--primary: #{$primary};
	--accent: #{$accent};
	--warn: #{$warn};

	// Even though this looks like a Sass variable, it's valid CSS so it's not
	// evaluated.
	--consumed-by-js: $primary;
}
