/* Variables and mixins declared here will be available in all other SCSS files */
// $primary-dark: #81899b;
$background-dark: #030303;
$background-light: #fff;
$font-dark: #fff;
$font-light: #030303;

// $text-dark: #dfa612;

/* Light mode */
@media (prefers-color-scheme: light) {
	:root {
		--background: #{$background-light};
		--font-color: #{$font-light};

		// --primary: #{$primary-light};
		// --accent: #{$accent-light};
		// --warn: #{$warn-light};
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #{$background-dark};
		--font-color: #{$font-dark};

		// --primary: #{$primary-dark};
		// --accent: #{$accent-dark};
		// --warn: #{$warn-dark};
	}
}
